@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла ошибка во время обработки вашего запроса.</h2>

<p>
    @Model.Message
</p>
