@model Patient
@{
    ViewData["Title"] = "Редактирование пациента";
}

<h1>Редактирование пациента</h1>

<form asp-controller="Patient" asp-action="Edit" method="post">
    <input asp-for="PatientId" hidden="hidden" />
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input type="text" asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input type="text" asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patronymic"></label>
        <input type="text" asp-for="Patronymic" class="form-control" />
        <span asp-validation-for="Patronymic"></span>
    </div>
    <div class="form-group">
        <label asp-for="BirthDate"></label>
        <input type="date" asp-for="BirthDate" class="form-control" />
        <span asp-validation-for="BirthDate"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender"></label>
        <select type="text" asp-for="Gender" class="form-control">
            <option disabled="disabled">Выберите пол</option>
            <option>Мужской</option>
            <option>Женский</option>
        </select>
        <span asp-validation-for="Gender"></span>
    </div>
    <div class="form-group">
        <label asp-for="PensionNumber"></label>
        <input type="text" asp-for="PensionNumber" class="form-control pension-number" />
        <span asp-validation-for="PensionNumber"></span>
    </div>
    <input type="submit" value="Редактировать" class="btn btn-success" />
</form>

@section scripts{
    @*JQ validation*@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    @* Input masks for PensionNumber *@
    <script src="~/js/jquery.inputmask.js"></script>
    <script>
        $(document).ready(function () {
            $("#PensionNumber").inputmask("999-999-999 99");
        });
    </script>
    @* PensionNumber validation*@
    <script>
        function checkHash(sum, checkSum) {
            if (sum < 100)
                return sum == +checkSum;
            if (sum == 100 || sum == 101)
                return checkSum == "00";
            if (sum > 100)
                return checkHash(sum % 101, checkSum);
        };

        function pensionCheck(value) {
            let parsed = value.split('-').join('').split(' ').join('');
            if (parsed.length == 11) {
                let checkSum = parsed.slice(9, 11);
                let sum = 0;
                for (let i = 0, j = 9; i < parsed.length - 2; i++ , j--)
                    sum += +parsed[i] * j;
                return checkHash(sum, checkSum);
            }
            return false;
        }

        $(document).ready(function () {
            jQuery.validator.setDefaults({
                onkeyup: false
            });
            jQuery.validator.addMethod("isPensionNumber", function (value, element) {
                return this.optional(element) || pensionCheck(value);
            }, "Неверно введен СНИЛС")
            jQuery.validator.addClassRules("pension-number", { isPensionNumber: true });
        });
    </script>
}